body{
	background-color: #9b59b6;
}

#wrapper{
	margin-top: 100px;
	width: 450px;
	padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    background-color: #ffffff;
}

.box p{
	text-align: center;
}

.left{
	padding-right: 10px;
	padding-left: 0;
}

.right{
	padding-right: 0;
	padding-left: 10px;
}

.input-group .form-control:first-child{
	border-radius: 0;
}

.input-group .form-control:last-child{
	border-radius: 0;
}

.input-group-btn:last-child > .btn{
	border-radius: 0;
}

.form-control:focus{
	border-color: #9b59b6;
}

.input-group{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
}

.btn-primary{
	background-color: #9b59b6;
	border-color: #9b59b6;
	float: right;
}

.btn-primary:hover{
	background-color: #8e44ad;
	border-color: #8e44ad;
}